// Breakpoints

$medWidth: 40rem;
$lgWidth: 60rem;
$hugeWidth: 75rem;

// Clearfix

@mixin cf {
  &:before,
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// Visually hidden, visible to screen readers

@mixin hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
}

@mixin hiddenReset {
  position: static;
  overflow: visible;
  width: 100%;
  clip: auto;
  height: inherit;
  margin: 0;
}

// Link underlines

@mixin textShadowUnderlines($color: #fff) {
  text-shadow: .03em 0 $color, -.03em 0 $color, 0 .03em $color, 0 -.03em $color,
              .06em 0 $color, -.06em 0 $color,
              .09em 0 $color, -.09em 0 $color,
              .12em 0 $color, -.12em 0 $color,
              .15em 0 $color, -.15em 0 $color;
}

@mixin linkUnderlines($background: #fff, $foreground: $linkColor) {
  box-shadow: inset 0 -2px 0 $background,
            inset 0 -3px 0 rgba($foreground, 0.25);
  @include textShadowUnderlines($background);
}

// Colors

$textColor: #56565e;
$darkColor: #2f2e51;
$linkColor: #3937cc;
$selectionColor: rgba($linkColor, 0.06);

$borderColor: rgba($darkColor, 0.15);

// Typography

$fontStackText: Georgia, sans-serif;

$fontStackDisplay: Georgia, serif;

$containerWidth: 90%;

$rhythm: 0.3875rem;
$unitlessLineHeight: 1.6;
$lineHeight: $unitlessLineHeight * 1rem;
$paragraphBreak: 1.375rem;

$textMeasure: 38rem;

@mixin h {
  font-weight: normal;
  text-rendering: optimizeLegibility;
  color: $darkColor;
}

@mixin h1 {
  font-family: $fontStackDisplay;
  letter-spacing: -0.02em;
  margin: 0 0 ($lineHeight + $rhythm);
  font-size: 1.6em;
  line-height: 1.25;
  @media screen and (min-width: $medWidth) {
    font-size: 2.56em;
  }
}

@mixin h2 {
  font-family: $fontStackDisplay;
  margin: 0 0 ($lineHeight + $rhythm);
  letter-spacing: -0.02em;
  font-size: 1.6em;
  line-height: 1.25;
}

@mixin h3 {
  font-family: $fontStackDisplay;
  margin: 0 0 $lineHeight;
  font-size: 1.25em;
  letter-spacing: -0.02em;
  font-size: 100%;
}

@mixin h4 {
  line-height: 1.45;
  margin: 0 0 $lineHeight;
}

@mixin h5 {
  font-size: 1em;
  line-height: 1.5;
  letter-spacing: -0.06rem;
  margin: 0 0 $lineHeight;
}

@mixin h6 {
  font-weight: normal;
  font-size: 0.9375rem;
  margin: 0 0 ($lineHeight + $rhythm);
  line-height: 1.6;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
