{% if page.title == "Bellwether" %}
  <title>Bellwether</title>
  <meta name="description" content="A radio program of speculative journalism.">
  <meta property="og:title" content="Bellwether">
  <meta property="og:type" content="website">
  <meta property="og:description" content="A radio program of speculative journalism.">
{% else %}
  <title>{{ page.title }} Bellwether</title>
  <meta name="description" content="{{ page.description }}">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:type" content="article">
  <meta property="og:description" content="{{ page.description }}">
{% endif %}
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:site_name" content="Bellwether">
{% if page.header_img.src %}
  <meta property="og:image" content="/images/bellwether.jpg">
{% endif %}
<meta property="twitter:card" content="summary">
<meta property="twitter:site" content="@samlistens">
<meta property="twitter:creator" content="@samlistens">
{% if page.title %}
  <meta property="twitter:title" content="{{ page.title }}">
  <meta property="twitter:description" content="{{ page.description }}">
{% else %}
  <meta property="twitter:title" content="Bellwether">
  <meta name="twitter:description" content="A radio program of speculative journalism.">
{% endif %}
{% if page.header_img.src %}
  <meta property="twitter:image" content="/images/bellwether.jpg">
{% endif %}