/*----------------------------------------------*\
    COMPONENTS
	==========

	@package piknikpress

\*----------------------------------------------*/


/* 
 *
 * / Variables
------------------------------------------------*/

/* Colors */
$green: #37ed44;
$black: #000000;

/* Widths */
$small: 37.5em; /* 600px */
$medium: 50em; /* 800px */
$large: 68.75em; /* 1100px */

/* Fonts */
$mono: 'Courier Prime', monospace;




/* 
 *
 * / Mixins
------------------------------------------------*/