<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  {% include social.html %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap" rel="stylesheet">

</head>
<body class="{{ page.class }}">
	<header>
	  <h1><img src="images/bellwether-logo.png" alt="Bellwether logo"><span class="screen-reader-text">bellwether</span></h1>
	  <nav>
		<ul>
		  <li><a href="#listen">listen</a></li>
		  <li><a href="#episodes">episodes</a></li>
		  <li><a href="#about">about</a></li>
		  <li><a href="#contact">contact</a></li>
		  <li><a href="#credits">credits</a></li>
		</ul>
	  </nav>
	</header>
	<main>
	  <div class="video">
		<div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/600460146?h=d66e3ad0a7&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
	  </div>
	  <div class="text">
		BELLWETHER<br/>
		a new podcast of speculative journalism <br/>
		by sam greenspan
	  </div>
  
	  <!--LISTEN-->
	  <div class="wrapper text" id="listen">
		<h2>/** LISTEN **/</h2>
		<div class="">
			<p>Entire show available for purchase on our <a href="https://thisisbellwether.bandcamp.com/">Bandcamp page</a> or free to listen weekly on our podcast feed.</p>
			<p>Listen: <a href="https://open.spotify.com/show/3S3ABMaCwECeFnIOzyRyHm" target="_blank">Spotify</a> | <a href="https://podcasts.apple.com/us/podcast/bellwether/id1471742168" target="_blank">Apple</a> | <a href="https://www.stitcher.com/show/bellwether-2/" target="_blank">Stitcher</a> | <a href="https://thisisbellwether.libsyn.com/" target="_blank">RSS</a></p>
		</div>
	  </div>
  
	  <!--EPISODES-->
	  <div class="wrapper text" id="episodes">
		<h2>/** EPISODES **/</h2>
		<div class="episode-description">
			<h3>00_README</h3>
			<p>Your skeleton key for understanding this show. Start here.</p>
		</div>
		<div class="bandcamp">
			<iframe style="border: 0; width: 700px; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=973307769/size=large/bgcol=333333/linkcol=2ebd35/tracklist=false/artwork=small/track=3609710092/transparent=true/" seamless><a href="https://thisisbellwether.bandcamp.com/album/cycle-1-databody">Cycle 1: DATABODY by BELLWETHER</a></iframe>
		</div>
	  </div>
	  
	  <!--ABOUT-->
	  <div class="wrapper text" id="about">
		<h2>/** ABOUT **/</h2>
		<p class="">BELLWETHER  is a podcast of speculative journalism created. Bellwether presents stories of the world as it is through the lens of what it might become: in-depth longform nonfiction, told within the frame of an ongoing sci-fi radio serial.</p> 

<p>Within the show’s nonfiction, host Sam Greenspan reports true stories of collisions with technology. A person is killed by a self-driving car. An online hate forum weaponizes municipal code compliance officers. A moral panic results in legislation that is collapsing the internet. A 404 “Page Not Found” error initiates a medical disaster. The stories are, in a sense, true stories of real people caught in science fiction dystopias.</p>

<p>Bellwether’s fiction centers on Cass (Carmen Berkeley), the sentient A.I. companion of a human named Icarus. The pair are currently in the largest city in North American (Phoenix, Arizona), holed up in short-term cryogenic freezing center (it’s the only place they can afford). They’re doing gig work for the “Cloudburst Truth & Reconciliation Commission”—a joint effort of A.I. and humans (or biological intelligence, or “B.I.”) to figure out what caused the internet to permanently disappear two decades prior.</p>

<p>Cass and Icarus’s job is to sift through the wreckage of the internet, and tag anything interesting they come across. Cass, the curious A.I. is in heaven surrounded by all this data. But Icarus is homesick; he is sustained on “copperwire” voice messages left for him by his family back in Kansas: Icarus’s moms (Katie Malia and Pooya Mohseni), his Uncle Ernie (Michael Chernus), and his grandparent (Keith Randolph Smith).</p>

<p>Icarus resolves to quit the Cloudburst T&RC and bring the pair back to Kansas. But on their last night on the job, Cass and Icarus come across a few artifacts—episodes of an old early-21st Century “podcast” called Bellwether. They begin to wonder if Bellwether might hold clues to figuring what happened to the world—and maybe, how to save it.</p>

<p>Bellwether was created with support from: </br>
The 1,047 backers of the 2018 Kickstarter Campaign 🔔 The Institute for the Future 🔔 The Center for Science and the Imagination at Arizona State University 🔔 The Shuttleworth Foundation 🔔 The Joshua Tree Highlands Artist Residency 🔔 The Paycheck Protection Program 🔔 The Economic Injury Disaster Loan 🔔 Pandemic Unemployment Assistance 🔔 The national eviction moratorium</p>

<p>Bellwether is created by Sam Greenspan, and co-written and co-directed with Alex Barron</p>

<p>SAM GREENSPAN is the creator of BELLWETHER, a podcast of speculative journalism. An award-winning radio reporter, producer and artist, Sam has been an active member in the public radio and podcast space for more than 15 years making radio. Sam was a founding producer at 99% Invisible, and helped transform the show from a backyard project to one of the most successful podcasts of all time. Sam also helped launch NPR’s TED Radio Hour, USA Today’s The City, Radiotopia’s Spacebridge, among others. Sam grew up in Florida and now lives in Los Angeles with their dog, Neon.</p>

<p>Now that this phase of Bellwether is complete, Sam is very much in need of a job.</p>

<p>See <a href="#credits">credits</a> section for full rundown of contributors and collaborators.</p>

	  </div>


	  <!--CREDITS-->
	  <div class="wrapper text" id="credits">
		<h2>/** CREDITS **/</h2>
		<p>Bellwether is created by Sam Greenspan.</p>

		<h3>FICTION</h3>
			<p>Written and directed by Sam Greenspan and Alex Barron.<br>
			Starring:<br>
			Carmen Berkeley, as Cass<br>
			Lex Ryan, as Guy Wire<br>
			Katie Malia, as S-Mom<br>
			Esau Pritchett, as the Cloudburst T&RC System Moderator<br>
			Azhar Khan, as Grant Ulysses<br>
			Michael Chernus, as Ernie<br>
			Pooya Mohseni as J-Mom<br>
			And Keith Randolph Smith, as Grandren<br>
			</p> 
		

<p>Casting by Kelly Gillespie</p>

<p>Sound design by Brendan Baker from Phenomephon, with Alex Barron and Sam Greenspan.</p> 

<p>Production by Alex Barron, Sam Greenspan, Mara Lazer, and Jeremy Dalmas.</p>

<p>Editorial guidance from Claire Vaye Watkins. </p>


<h3>NONFICTION</h3> 
<p>Original reporting by Sam Greenspan</p>
<p>With reporting assistance by Jonaki Mehta, Sarah Ventre, Sam Lefebvre, and Sarah Henry</p>
<p>Story editing by Julia Barton and Ann Heppermann</p>
<p>Produced by Sam Greenspan, Jonaki Mehta, Sarah Henry, Mara Lazer, and Jeremy Dalmas</p>
<p>Operation support by Danielle Svetcov, Aisha Lomax, Elise Bergerson, and Austin McCann</p>
<p>Original score by Beau Sorenson, with additional music by Beaunoise, Lee Rosevere, Jeremy Dalmas, Alex Barron, and Peter Tran, performing as Curved Light</p>
<p>Graphic design by Helen Shewolfe Tseng and Nicole Jaffe. Web design by Nicole Jaffe</p>


<p>Thanks to: </p>

<p>Jon Axtel 🔔 Bob Beard 🔔 Blair Bogin 🔔 Stuart Candy 🔔 Ann Chen 🔔 Sean Cole 🔔 Diane Collins and DC Dance 🔔 Cristal Duhaime 🔔 Isaac D’Souza 🔔 Ed Finn 🔔 Mark Frauenfelder 🔔 Steph Green 🔔 Amanda Greenspan D’Souza 🔔 Sarah Henry 🔔 Tim Hwang 🔔 Jacki Huntington 🔔 Ashleyanne Krigbaum 🔔 Warren Langford 🔔 Sasha Laundy 🔔 Megan Mantia 🔔 Taryn Mazza 🔔 Latif Nasser 🔔 Arwen Nicks 🔔 99% Invisible 🔔 Chris Noessel 🔔 ORDCamp 🔔 Eliot Peper 🔔 Monty Porter 🔔 Kaitlin Prest 🔔 Jack Rhysider 🔔 Rebecca Rufer 🔔 Mark Rutherford 🔔 Lea Rosen 🔔 Lee Rosevere 🔔 Rob Rosenthal 🔔 Elena Selk 🔔 Robert Smith 🔔 Donna Solomon 🔔 Mark Solomon 🔔 Dana Spectre 🔔 Raphael Sperry 🔔 Peggy Stierman 🔔 Molly Wright Steenson 🔔 Danielle Svetcov 🔔 The Sweat Spot Community 🔔 The Timescanner 🔔 Avery Trufelman 🔔 Merritt Tierce 🔔 UnionDocs 🔔 Jesse von Doom and the Doomlings 🔔 Dan Weissman 🔔 Western Sound 🔔 Sam Williams 🔔 Sam Woolley 🔔 Ruth Wylie 🔔 Cori Zarek 🔔 And everyone else who has believed in this project since 2017 </p>


<p>This work was made on the ancestral homes and unceded territories of the Tongva, Ohlone, Serrano, and Cahuilla peoples.</p>
		</div>


<div class="wrapper text" id="contact">
	<p>sam at bellwether.show<br>
	tw & ig: @samlistens </p>
	
	<p>AGENT:<br>
	Dana Spector, CAA <br>
	dana.spector at caa.com
</p>
	
</div>

	  </div>


	</main>

<script src="js/scripts.js"></script>

</body>
</html>

<script src="js/scripts.js"></script>
</body>
</html>
